[2019-02-11 07:54] betwo opened #1 "Build current package does not work"
When running the task "build current package", the following error occurs:

[2019-02-15 13:33] betwo opened #2 "Background job is detected as unresponsive"
![image](https://user-images.githubusercontent.com/4789818/52860048-af406380-312e-11e9-8f8e-0aabef186370.png)

[2019-02-16 13:08] #2 closed

[2019-02-19 06:24] betwo opened #3 "Make reset of intellisense DB optional"
Add an option to en/disable resetting the DB after the compile commands have changed

[2019-02-19 06:35] betwo opened #4 "Work around C/CPP limitation of ${workspaceFolder} not being substituted"
Currently, as of version 0.22.0, the C/C++ extension does not replace `${workspaceFolder}` or the legacy `${workspaceRoot}` in the `configurations.compileCommands` configuration, which causes different kinds of problems:

* Detection of changes in `compile_commands.json`
* Switching between source and header

Ideas for workarounds:
* Replace the absolute paths in  `compile_commands.json` with the

[2019-02-28 14:56] #3 closed

[2019-02-28 21:53] #4 closed

[2019-03-04 12:50] #1 closed

[2019-04-30 09:38] betwo opened #5 "Add support for install build"
Looks like the compile_commands.json files are not found in install build.

[2019-05-01 08:33] betwo commented on #5
Cannot reproduce, in a different workspace it works with install set to true.

[2019-05-01 08:33] #5 closed

[2019-06-07 15:46] betwo opened #7 "run tests should call `make run_tests`"

[2019-06-08 08:50] #7 closed

[2019-06-09 08:59] betwo opened #8 "Add progress bar to parsing of package"
Parsing packages for tests can take a while.
Add a progress bar (https://github.com/Microsoft/vscode-extension-samples/tree/master/progress-sample)

[2019-06-10 16:47] #8 closed

[2019-07-30 23:07] kejxu opened #9 "Great work!"
Hi Sebastian,

Hope this finds you well! Not sure if this is the best way to reach out, but we have found this extension while looking into the `catkin_tools` commands lately. Just wanna say, great work =)

Earlier this year we have been working to port the VS Code extension for ROS to Windows, and now it is hosted in https://github.com/ms-iot/vscode-ros. This extension has a really simple wrapper

[2019-07-31 11:56] betwo commented on #9
Hi James,

thank you for getting in touch!

At the time of the creation of this extension, the ROS extension had no support for `catkin_tools` workspaces and other ROS functionality was not required for us.
Instead of upstreaming the required changes, we opted for a standalone extension that focuses on  the build functionality and no other ROS support.

On the road map for this extension I basical

[2019-07-31 20:39] kejxu commented on #9
Quick question: just curious, are the rest of the functionalities not required? or are they not wanted? Just asking because one of the things we have always tried to understand is how much should/should not be put into the extension.

That's perfect news! If this extension is already in stable state, then it would be much easier in terms of potential merging. Please definitely take your time, no h

[2019-08-09 13:12] Timple opened #10 "Extension does not work with packages being symlinks"
Output
[code]

In this case I have a symlink to `mypkg` in the `catkin_ws` folder.
Normal catkin operation works. Also catkin build --this works fine in a terminal.

However catkin locate gives the absolute path instead of the symlinked version. There doesn't seem to be a nice python solution to get the symbolic link. (Otherwise I've would have opened a PR there).

Could the sourcing of the devel

[2019-08-29 12:48] betwo commented on #10
Thank you @Timple for the the report, I could not respond sooner due to summer vacation.

Very good idea. The only problem with hard coding `{workspace}/devel/setup.bash` is:
1. we cannot assume `.bash`, there could be another shell in use (another open bug)
2. we cannot assume `devel`, there could be another catkin profile in use

However, we can:
1. Repeatedly change to the parent directory unti

[2019-08-29 13:00] #10 closed

[2019-08-29 13:01] betwo commented on #10
Version 1.5.2 contains the described solution.

@Timple, please feel free to re-open this issue if it does not work for you!

[2019-08-29 13:34] betwo commented on #9
Sorry for the delay, I was on vacation for the last weeks.

In the beginning, there was only one feature that was actually not _wanted_, which was the hard coded `clang-format` rules of the ROS community, which made it impossible to use a custom `.clang-format` files.

I'm not sure if this is still the case, or if this can be disabled now, I'll look into that soon.

I guess this is mostly personal

[2019-08-29 14:36] Timple commented on #10
Seems to work, great thanks!

[2019-08-30 10:16] nalinor opened #11 "Slow parseCmakeListsForTests for large workspaces"
First, thumbs up for the great work.
Here's my issue.
Every run of ```vscode.workspace.findFiles``` seems to take (for my WS) 100ms, whereas if I use fast-glob it takes around 1ms.

Also, I don't follow symlinks during search and the exclude patterns seem correct.
From profiling, I think there is a lot of overhead in spawning process for the repeated searches.

[2019-08-30 10:17] nalinor commented on #11
This is the line I was referring to.
https://github.com/betwo/vscode-catkin-tools/blob/5ba13dcc25d980271b230099238d5ea31488f143/src/catkin_workspace.ts#L118

[2019-08-30 17:43] betwo commented on #11
Thanks for the report, @nalinor!

I have been able to reproduce similar timings in my workspace now.

The change to `fast-glob` should not be problematic.
I would keep `followSymbolicLinks`, however, to support symlinked packages with tests.

In a minute, I'll prepare another release (1.5.3). Could you please give feedback, if you also see the expected speed up?

[2019-08-30 18:34] nalinor commented on #11
Will do

[2019-08-31 13:32] nalinor commented on #11
Tested it. Works.
Now the parsingForTests function takes (according to console.time...) like only a few ms instead of 150ms. For large workspaces, this improves things tremendously.
Thanks so much for reacting so quickly!

[2019-08-31 13:32] #11 closed

[2019-08-31 16:29] betwo commented on #11
Thank you for the feedback, glad to hear it works!

[2019-09-11 09:10] betwo opened #12 "Add problem parser for GTest output"
Running unit tests should result in parsed problems.

[2019-09-11 09:31] betwo opened #13 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `b2-catkin-tools`
- Extension Version: `1.6.2`
- OS Version: `Linux x64 4.15.0-52-generic`
- VSCode version: `1.39.0-insider`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load

[code]

[2019-09-11 09:32] betwo commented on #13
[betwo.b2-catkin-tools-unresponsive.cpuprofile.txt](https://github.com/betwo/vscode-catkin-tools/files/3600018/betwo.b2-catkin-tools-unresponsive.cpuprofile.txt)

[2019-09-13 08:59] betwo opened #14 "Feature: Profile switching"
Think about adding a way to show / switch / edit catkin profiles

[2019-10-31 17:25] betwo opened #15 "ccache / sccache as compiler does not work"
Determining the default include paths with sscache fails with "command failed"
Found argument -x which was not expexted

[2019-11-11 06:59] betwo commented on #15
Should be fixed in 1.10.0, waiting for feedback

[2019-11-16 06:28] #15 closed

[2019-12-11 22:35] #12 closed

[2019-12-11 22:35] betwo commented on #13
Did not occur anymore

[2019-12-11 22:35] #13 closed

[2019-12-13 15:17] shubang93 opened #17 "v1.11 Breaks Integration with Intellisense"
The plug-in was working perfect until yesterday when in VS Code decided to upgrade to the latest version. After the upgrade, it no longer loads the information for my ROS workspace correctly. The visual symptom I see is that the pop-up window on the bottom right disappears almost immediately (where as earlier it used to take some time and list packages). My current work around is to downgrade to v

[2019-12-14 09:14] betwo commented on #17
Hi @shubang93, thanks for reporting this!

I have a hunch what could be the problem here: The extension now also parses which `catkin profile`s you have. Just now I found out that the file `.catkin_tools/profiles/profiles.json` is only generated if you have more than one profile available. With version `1.11.1` this is fixed for me.

It would be great if you could help me confirm or reject that. C

[2019-12-14 16:16] shubang93 commented on #17
Works now! Thanks for the quick response and fix. This tool is really useful and simplifies using an IDE with ROS style workspace.

[2019-12-14 16:16] #17 closed

[2019-12-19 07:53] rcabg opened #18 "Test Explorer doesn't update catkin test result icon"
Not sure if this goes here or in Test Explorer UI extension.

For me, catkin tests (using gtests) are correctly detected and executed, but I cannot see icon results updated, keeping always a gray circle with a square in the middle.

If any test fails, the parsed result is correctly shown in the PROBLEMS tab in vscode. If tests succeed, nothing appears. In both cases, the gray icon with black squar

[2019-12-23 10:54] betwo commented on #18
This is definitely not the intended behavior, thank you for reporting.

The extension currently assumes that your default shell is `bash` (it uses built-in bash commands like `source`, `pushd` and `popd`)
When using `sh`, for example, I see the same behavior.

Which is your default shell? If it is `bash`, please [attach your log outputs.](../wiki/DebuggingInstalled).

[2019-12-23 17:09] betwo commented on #18
Hey @rcabg, I think the bug is fixed with version `1.12.0`. Could you please check with your setup?
Thank you!

[2020-01-07 08:33] rcabg commented on #18
Hello @betwo,

Sorry for the delay! I can confirm the bug is solved with version 1.12.0 in my setup.

Thanks for your quick response!

[2020-01-07 08:33] #18 closed

[2020-06-25 18:21] IaroslavS opened #20 "How to configure VSCode in given example ?"
Hi, I'm new to VSCode and I have problems with configuring VSCode for debugging script.
I managed to successfully compile with catkin (without VSCode) the necessary script:
1) git clone https://github.com/xdspacelab/openvslam.git
2) go to site https://openvslam.readthedocs.io/en/master/ros_package.html#installation and follow instructions on the site. They are:
[code]
I'm trying to compile the sam

[2020-06-26 08:26] betwo commented on #20
Hey @IaroslavS,

this extension only supports the [catkin tools](https://github.com/catkin/catkin_tools) build system (i.e. your workspace should be built using `catkin build` instead of `catkin_make` if you want to use this extension's features.)

Looking at your problems, my guess is that the session you are running `code` in does not have sourced `/opt/ros/<version>/setup.bash`.
If that is the

[2020-06-26 15:29] IaroslavS commented on #20
Hi, thanks for reply and advice!
   I don't understand, what I should put instead of <your package name, e.g. hello_vs_code> ? Maybe you mean workspace name, for example in my case - "catkib_ws.code-workspace" ?
   And I'm not sure if we can put arguments (for example, "-j4", "-DCMAKE_BUILD_TYPE=Debug", "--pkg") into the field "command", cause we have field "args" in tasks,json.

I decided to comp

[2020-06-27 18:13] #20 closed

[2020-07-13 08:46] betwo opened #21 "Canceling test running does not work reliably"
When a test is endlessly looping, canceling the run does not work correctly

[2020-07-24 11:43] betwo commented on #21
Fixed in 1.15.2

[2020-07-24 11:43] #21 closed

[2020-07-25 12:00] betwo commented on #14
Implemented with v 1.16.0

[2020-07-25 12:00] #14 closed

[2020-09-28 15:35] impala454 opened #24 "Shell commands not properly parsing output"
Currently the [build directory helper function](https://github.com/betwo/vscode-catkin-tools/blob/master/src/catkin_workspace.ts#L455) ends up doing a shell execute of `catkin locate -b` and then assumes the first line of output contains the expected response.  Since this is running a user shell, any extra output a user may have in their initial shell will contaminate this assumption and cause the

[2020-09-30 12:18] betwo commented on #24
Hi @impala454,

thank you for the report.

Could you please help me in reproducing this on my machines?

### How I tried to reproduce

I added
[code]
into my `.bashrc` and made sure that it is always executed

The output of running `bash -c <cmd>` only gives me the output of `cmd`, without any `echo`'s of `.bashrc`:
[code]

Forcing `bash` to run interactively, I can reproduce the error:
[code]

Ho

[2020-09-30 13:27] impala454 commented on #24
Interesting.  It looks like the [code that executes the command](https://github.com/betwo/vscode-catkin-tools/blob/3ef5b6900d245df287d2fe7770c0f1e0962aafad/src/catkin_command.ts#L32) may be opening a shell first.  The [documentation](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback) for that function says it opens a shell and then executes the com

[2020-09-30 13:30] impala454 commented on #24
One more quick add, one of our team members mentioned using `child_process.execFile` instead.  The documentation specifies:

So that may be what's needed here, though you'd still have to have the user's `/opt/ros/{ROS_DISTRO}/setup.bash` in there.

[2020-09-30 15:20] impala454 commented on #24
I am having a hard time reproducing this as well, without showing you our huge proprietary company docker, here's a quick example I threw together (which still doesn't exhibit the behavior). https://gitlab.com/cclaunch/node_shell_test.  Will let you know if I can get it.

[2020-10-01 15:14] oneironautics commented on #24
Other team member here. I created a small extension to test this. Invoking `exec` inside of my test VSCode extension spawns a shell that sources `.bashrc`, which results in `stdout` containing additional output. Invoking `execFile` provides only the expected output of the command passed to it.

The following is the code for the test extension (I've omitted all of the boilerplate for clarity).

[co

[2020-10-01 16:02] betwo commented on #24
Thank you both for the updates!

That's so strange, I still cannot reproduce this inside vscode.
I copied the same code into an extension and ran it:

[code]

with my `.bashrc`:
[code]

and
[code]

---

We can use `execFile` for the `catkin locate` calls, but I'm not sure about all the other commands that are currently relying on a sourced `setup.<shell>` file.
Looking into that now.

@oneironauti

[2020-10-01 16:19] oneironautics commented on #24
[code]

It appears that `--norc` has the desired effect.

[2020-10-01 17:51] betwo commented on #24
Thank you for confirming this.

There is now a pre-release v1.19.0 that integrates your feedback:
1. Calls to `catkin` now use `execFile`, since no `setup.<shell>` files need to be sourced for them,
2. The shell type is now a configuration parameter (supported are `bash`, `sh` or `zsh`),
3. `bash` and `sh` are called with the option `--norc`.

It would be amazing if you could quickly test this to

[2020-10-01 20:15] oneironautics commented on #24
Looks fixed to me - I no longer see an error message using the provided 1.19.0 `.vsix`.

[2020-10-01 20:45] betwo commented on #24
Thank you both for your help!
I just released v1.19.0, should be available in a few minutes.

[2020-10-01 21:01] oneironautics commented on #24
Sure thing. Thanks for the extension!

[2020-10-02 07:20] #24 closed

[2020-12-03 09:54] jackpimbert opened #25 "Build task hangs"
Hi,

I recently had the extension working well, however I have encountered an issue where the build task hangs from within vscode. I can run `catkin build` successfully from the terminal, but when I try and run in vscode I get the following:

![cb](https://user-images.githubusercontent.com/3306938/100993293-8385ac00-3555-11eb-97b6-2894d7254144.png)

The task just stays the same, showing no output

[2020-12-03 11:45] jackpimbert commented on #25
Looks like it's an issue with the vscode integrated terminal. I fixed by adding the following lines to `~/.config/Code/User/settings.json`:

[code]

See:
https://stackoverflow.com/questions/54092486/visual-studio-code-terminal-blank-screen

[2020-12-03 11:45] #25 closed

[2020-12-03 14:00] betwo commented on #25
Hi @jackpimbert, just out of curiosity: Are both of those options required for the extension to work with your setup?
I guess that means your default shell is not `bash`?
If I could reproduce this on my machines, we would be able to add a notification message to warn other users with similar issues.

[2020-12-04 07:54] jackpimbert commented on #25
Hi @betwo,

Good question. I don't believe both are..

I can reproduce toggling the following line in my `~/.config/Code/User/settings.json` file:

[code]
- With `inheritEnv` set to `true`, I can build via vscode.
- With `inheritEnv` set to `false`, I cannot build via vscode.

The shell option does not make a difference, so that can be removed. I've tried without it, with "zsh" (which is the shell

[2020-12-04 11:19] betwo commented on #25
Thank you for the update! I'll try to reproduce this issue

[2021-01-21 06:55] tejaswid opened #28 "[Feature Request] Creating task configurations with a 'group' section"
In vscode when one presses `ctrl+shift+p` > `Tasks: Configure Task` > `catkin_build: build` or `catkin_build: build current package` or `catkin_build: run current package tests`, the configuration generated in `.vscode/tasks.json` does not contain the **group** section.

As a result these configurations are not available in the drop down menu when one presses `ctrl+shift+b`. However, if the .json

[2021-01-23 12:08] #28 closed

[2021-01-23 12:09] betwo commented on #28
Hey @tejaswid, good catch. This will be release with the next version, not sure when exactly though.

[2021-03-11 17:53] betwo opened #31 "Feature: Add option to emit combined compile_commands.json file"
Add an option to emit a combined `compile_commands.json` file to a central place.
This can then be used by other extensions / tools like `clangd`.

[2021-03-13 10:37] #31 closed

[2021-04-19 18:44] betwo opened #34 "Always enable the extension"
Change the behavior so that the extension is always enabled, but only "does something" if one of the opened folders is a catkin workspace.

Make sure that the status bar entries only show up if a workspace is present.

[2021-06-01 16:08] #34 closed

[2021-06-21 11:38] bochen87 opened #35 "Cannot run ROS integration tests"
Hi,

Great plugin! :-)

I cannot run ros tests - i guess that's a feature not implemented?

![image](https://user-images.githubusercontent.com/23016719/122755436-497fbb80-d295-11eb-943d-ff34c1c833b6.png)

[2021-06-21 11:58] betwo commented on #35
Hi @bochen87,

thank you for the feedback! You're right, that is not yet implemented since we have not yet needed that.
I'll try to work on this in the coming days.

Do you know of an open-source package I can use as a test bench?

[2021-06-21 15:17] bochen87 commented on #35
Hi Sebastian, awesome, thanks for your super fast reply!

I think https://github.com/cra-ros-pkg/robot_localization might be a good package for this (I would hope all their tests work). The `add_rostest_gtest()` macro is the one used to set them up.

[2021-06-21 17:36] bochen87 opened #36 "Running tests with test explorer runs from install space"
Hi,

I have some test assets that are sitting in my test/assets folder that my tests use. Now when I run the tests using the test explorer, it somehow looks in the INSTALL SPACE for those files, meaning I'd have to add my test assets to the CMakeLists.txt install instructions.
Is there a way to specify that? Is that a bug?

[2021-06-21 21:20] betwo commented on #36
Hi!

Can you give me an example of how your tests are locating the assets?
Are they assuming something about the working directory?
Can you run the tests when you `source` the install space?

[2021-06-22 08:04] bochen87 commented on #36
I do `ros::package::getPath("my_package_name") + "test/assets/test_assets.bag"` to get my assets.
`ros::package::getPath("my_package_name")` unfortunately resolves to `/path/to/my/install/space/share/my_package_name` instead of `/path/to/my/source/folder/my_package_name`

[2021-06-22 08:29] betwo commented on #36
Ah I see.

I slightly disagree with the prioritization of `devel` vs `install` on your PR:
If the install space is enabled in catkin, then sourcing the install space should also be sufficient to run all binaries.
So technically, you should actually install your testing assets with your test binaries.

However, I think adding an option (as in your PR) can definitely be done.
The only thing I would

[2021-06-22 09:36] bochen87 commented on #36
sounds good!

[2021-06-28 17:42] betwo commented on #36
Thank you very much! The PR is merged and will be part of the next release.

[2021-06-28 17:42] #36 closed

[2021-09-22 13:16] VinRud opened #38 "TYPED_TESTS are not supported"
TYPED_TESTS and TYPED_TESTS_P are currently not supported, see documentation:
https://google.github.io/googletest/advanced.html#typed-tests

[2021-09-23 07:54] betwo commented on #38
Hi @VinRud,

thanks for reaching out! I just created a pre-release for the next version:
https://github.com/betwo/vscode-catkin-tools/releases/tag/3.3.0

This should allow you to trigger `TYPED_TEST_*` style test cases.

Could you please give it a test run?

[2021-09-24 07:48] VinRud commented on #38
thanks :)

[2021-09-24 07:48] #38 closed

[2021-09-28 13:53] FloMaile opened #39 "tasks: catkin_build: build current package is not working anymore"
[code]

I debugged the build command and it turns out that the command is initiated in the workspace folder instead of the respective package folder e.g. `package_1`:

[code]

[2021-09-28 15:42] betwo commented on #39
Hi @FloMaile,
thanks for the feedback. That must be a relatively recent regression, I will look into the problem soon

[2021-09-28 19:23] #39 closed

[2021-09-28 19:24] betwo commented on #39
Should be fixed in release 3.3.4. Please re-open this issue in case it somehow still does not work for you!

[2021-10-11 17:52] pclay614 commented on #31
@betwo Not sure if I'm misconfiguring something but I can't get this work. I have in settings.json (user)
[code]
however the combined json is never generated.

[2021-10-14 18:14] betwo commented on #31
Hey @pclay614, thanks for the info. I'll take a look at this soon

[2021-10-15 19:47] betwo commented on #31
So I just tried to reproduce with your settings, but running the command `Reload / Merge compile commands` works in my test workspaces:
1. the merged file is created
2. the status bar shows the following:
![Screenshot from 2021-10-15 21-44-01](https://user-images.githubusercontent.com/4789818/137545060-91e80293-f3e5-4762-a6ce-13be16ff2b36.png)

To find out why it doesn't work for you, could you pl

[2021-10-20 18:23] pclay614 commented on #31
Ok, so that works. I guess I was under the impression that it would automatically happen after performing a build or that I could use it as a Task.

My current workflow is that I chain two tasks together: the build and the merge. Current my merge looks like:
`jq -s 'map(.[])' ${CATKIN_BUILD_DIR}/**/compile_commands.json > ${workspaceFolder}/compile_commands.json`

Note that it uses `jq` which has

[2021-10-27 20:34] betwo commented on #31
We could add an option to automatically run the merge when one of the `compile_commands.json` files changes.
Do you think that could work instead of your current workflow?

[2021-10-29 15:10] pclay614 commented on #31
That should be fine. That would also help in the case where if someone wants to do a `shell` task to build, it should rebuild the `compile_commands.json` as well.

[2021-10-30 09:57] betwo commented on #31
Ok, now that's strange:

I just wanted to add a new option, but then I remembered that this effectively already exists: If `mergedCompileCommandsJsonPath` is defined, merging should already be automatic.

In my setup that also works with the current version. I tested by running `catkin build` manually on the command line, the merged file was emitted.

I just release a new patch version (3.3.5) tha

[2021-11-01 16:42] pclay614 commented on #31
I tried both these in `settings.json`
1. `"catkin_tools.mergedCompileCommandsJsonPath": "${workspaceFolder}/compile_commands.json"`
2. `"catkin_tools.mergedCompileCommandsJsonPath": "${workspaceFolder}"`

(1)  gave me this output:
`"${workspaceFolder}/compile_commands.json" could not be found. 'includePath' from c_cpp_properties.json in folder <my project folder> will be used instead.`
(2) gave no

[2021-11-10 17:39] betwo commented on #31
Sorry for taking so long, I didn't find time the last days.

You're right, (1) should have given you a `compile_commands.json` file in the workspace folder with any `catkin` command.

Did you find anything in the debug log like this:
![image](https://user-images.githubusercontent.com/4789818/141163659-90bf0b91-da88-4a5f-9894-7c20664945d3.png)
Either with or without the "writing merged..."?

That a

[2021-11-16 21:31] pclay614 commented on #31
sorry, i haven't had a chance to check recently. I'll try this week.

[2021-11-20 19:19] jdekarske opened #40 "[bug] export compile commands pop up not working"
Hi! Great tool!
Instead of requiring a workspace to have a .catkin_tools directory, can you add an optional setting to specify the one you want to use? for example:
I'd like my workspace to be `~/catkin_ws/src/pkg_a` and I can set the `.catkin_tools` location to `${workspaceFolder}/../..`

Or better yet, automatically traverse higher directories until `.catkin_tools` is found.

Thanks!

[2021-11-21 11:21] rickstaa opened #42 "Remove dependency on the vscode-test-explorer"
The vscode native test API has been finalized in vscode [v1.59](https://github.com/microsoft/vscode/releases/tag/1.59.0). As a result [vscode-test-explorer](https://github.com/hbenl/vscode-test-explorer#migrating-to-native-testing) will be deprecated (see [this announcement](https://github.com/hbenl/vscode-test-explorer#migrating-to-native-testing)). I think we therefore the dependency on [vscode-

[2021-11-24 09:06] betwo commented on #40
Hi @jdekarske, thank you!

I'll have a look at this soon, hopefully this evening.

In the past we needed the vscode workspace to include the build directory in order to access the `compile_commands.json` files.
In the mean time, while working on multi-root workspaces, this could have changed.
We can then definitely allow the traversing out of the workspace.

[2021-11-24 09:07] betwo commented on #42
Hi @rickstaa, thank you for the PR.

I'll test this as soon as possible!

[2021-11-24 19:25] betwo commented on #40
So, I just checked my prior presumptions by opening a package folder `<root>/src/package_a`.
The workspace was detected and everything seemed to work.

What kind of problems did you run into when trying this?

[2021-11-24 19:40] jdekarske commented on #40
I might be having a different issue then. Is this no longer true from the readme?

The setup works if my only workspace folder is ~/cakin_ws. However, I get the following error if I only have the ~/catkin_ws/src/pkg_a folder open in my workspace.

This hangs:

and (consequently?):

[2021-11-27 14:49] betwo commented on #40
You're right, we should update the readme now that the extension always activates. (Once we have solved this issue.)

Could you please check the logs to see if there are any identifiable issues?
1. Can you see any errors in the debug console, when you enable developer tools?
2. Does the `catkin_tools` output panel show anything?

Maybe we can find a way to replicate this on my setup?
Has your work

[2021-11-29 19:54] jdekarske commented on #40
Developer tools helped! I think the issue is with the popup to add the  `-DCMAKE_EXPORT_COMPILE_COMMANDS=ON` arg. I already have cmake args set:

[code]
Then I clicked the popup to add the compile_commands arg, then the popup to rebuild to find the compile_commands.json. In the console I get:
[code]

[I think this is the problem line](https://github.com/betwo/vscode-catkin-tools/blob/40197c77cfef6

[2021-12-03 11:34] betwo commented on #40
Ah, great catch and sorry for the delay.
I did some testing, looks like this space got lost due to auto formatting with a syntax error... Don't know why that should happen.

I'll post a pre-release soon and would be glad if you could test that!

[2021-12-03 11:39] betwo commented on #40
Here's the test release: https://github.com/betwo/vscode-catkin-tools/releases/tag/v3.3.6-alpha

[2021-12-03 14:57] jdekarske commented on #40
I think we're close. After clicking the update workspace button to add the compile_commands arg I get this error:
[code]

In the console I have:
[code]
Note:
- there are now some wild quotations in the first arg and after the last
- there are two spaces before the last arg

And this is the resulting `config.yaml`:
[code]

If you're interested I'm using a devcontainer [here](https://github.com/jdek

[2021-12-05 19:25] betwo commented on #40
Thank you for all the information! I just cloned your repo and set up the devcontainer.

I found two issues, one caused the tray quotes, the other was an issue triggered by the default `.bashrc` file in the devcontainer not `source`ing the default ros workspace.

With 3.3.6-beta I was now able to initialize the cmake args and I was also able to start building the workspace:
![Screenshot from 2021-

[2021-12-05 22:05] jdekarske commented on #40
Everything works! Awesome! Thanks for your help with this :smile:

[2021-12-05 22:05] #40 closed

[2021-12-05 22:52] betwo commented on #40
Great! Thank you for testing!

[2022-02-14 04:05] SubaruArai opened #43 "merge compile_commands.json not outputting"
First of all thank you for this great extension!

## The issue:
I've set `Catkin_tools: Merged Compile Commands JSON Path` to `${workspaceFolder}/compile_commands.json`,
and confirmed that it is also set in `settings.json`.
[code]
But when I do `catkin clean` and `catkin build`, no file is generated.

Also, if I try the `Reload / Merge compile commands...` command, this error appears.
![ss_vscode-

[2022-02-14 09:20] betwo commented on #43
Hi @SubaruArai, thanks for reaching out!
I'll have a look at reproducing this as soon as possible.

[2022-02-14 23:33] betwo commented on #43
Ok, so the issue seems to be that the catkin workspace detection does not work in your case and therefore returns `undefined`.
This also explains why the automatic creation of the merged json file is not perfomed.

I'll add a checks for undefined there, but that does not actually solve your problem.
To debug this, could you please take a look at [the output panel and the the console log in the dev

[2022-02-14 23:51] SubaruArai commented on #43
Thanks for the ultra fast reply! (wait, it should be midnight at Germany...)

Somehow, today when I tried, it just worked!
Although I don't think it contains any useful information, I'll send the console log.
Here's the log file:
[vscode-app-1644882110189.log](https://github.com/betwo/vscode-catkin-tools/files/8064684/vscode-app-1644882110189.log)

And here's the output log (not from the dev tools

[2022-02-14 23:51] #43 closed

[2022-02-15 10:36] betwo commented on #43
You're welcome. Yeah, it got kind of late yesterday :smile:

Although I don't think it contains any useful information, I'll send the console log.
...
Yesterday when I tried, there was no output log at all.

I think the issue then might be the extension startup. We have seen this a few times in the past and I'm currently working on stabilizing that via integration tests.

I'll close this issue, bu

[2022-07-13 15:30] FloMaile opened #45 "CLI coloring is broken since VS Code 1.69.1"
[code]

`XXXXXXX` is just to black out the names.

[2022-07-13 15:39] FloMaile opened #46 "catkin build and run tests doesn't work properly since VS Code 1.69.1"
Referring to https://github.com/betwo/vscode-catkin-tools/issues/45.

CLI output doesn't show clearly the GTest output anymore with nice coloring indicating failed and passed test cases.

Additionally the Test Explorer doesn't work properly, as it runs into linker issues (not occurred with exactly the same setup, just immediately after the update of VS code)

[2022-07-14 11:09] betwo commented on #46
Hi @FloMaile, thank you for reporting this.

Are you sure this is due to version 1.69.1? I.e. could you please check if downgrading to an older release of the extension also has the same issue?

In the mean time I'll try to reproduce it as soon as possible.

[2022-07-14 11:11] betwo commented on #45
Thank you for reporting this!
As mentioned in #46, this might not be an issue of the vs code version, but the latest extension release.
I'll try to reproduce this asap.

[2022-07-14 12:31] bennaa opened #47 "Terminal colors bug"
Hi - first of all thanks for the great extension!
Building the package using this extension gives the following output in terminal
![catkin_tools](https://user-images.githubusercontent.com/43421249/178982280-fc09720b-ed53-4a8d-91de-6071b4c8b758.png)
while if I type directly in vscode terminal the command to build my package the output is the following
![terminal](https://user-images.githubusercont

[2022-07-14 12:48] betwo commented on #47
Hi @bennaa, thank you for the feedback!

In past releases, the output was colored, but then we switched to a virtual terminal in vscode, which currently does not show colors.

Let's merge this issue with #45 and tackle them together.

[2022-07-14 12:52] betwo commented on #45
From what I have found so far, the missing colors are due to us switching to [Pseudoterminal](https://code.visualstudio.com/api/references/vscode-api#Pseudoterminal).

Will try to find a way to bring back the colors.

[2022-07-14 12:56] betwo commented on #46
With the latest version, we have switched to vs code's native testing API (#42).
My assumption right now is that this caused the new linker and coloring issues with testing.

If downgrading the extension to 3.* does not show this behavior, that would confirm this theory.

I'm also currently working on a rework of the whole test handling to support other types of tests like ROS integration tests (#

[2022-07-18 08:33] FloMaile commented on #46
I run into a linker issue with the version **3.3.6**.

[code]

Coloring issues are still mixed present (some colorings work, some lines result in something like https://github.com/betwo/vscode-catkin-tools/issues/45)

[2022-08-05 16:21] FloMaile commented on #45
Any updates on this so far? Would be nice to get the colors back :)

[2022-08-05 19:51] betwo commented on #45
Sorry about all the delay, I have been really busy the last weeks.
Tomorrow I'll hopefully be able to cleanup my local fixes and release them,

[2022-08-09 00:32] betwo commented on #45
I just released `4.3.0-prelease`, which should have full color support again and should also improve test handling in general.
Could you please take a look if the color issues you have are fixed with that?

[2022-08-09 10:05] FloMaile commented on #45
Currently VSC only published version 4.2.0. Thank you for the effort!

[2022-08-09 16:38] betwo commented on #45
You should be able to switch to the pre-release version in vscode.
Just go to the extensions tab and select the catkin tools extension. There should be a button for switching to the pre-release.
Does that work?

[2022-08-10 07:39] FloMaile commented on #45
I can confirm that the color support works again. Tests are still not working properly.

[2022-08-10 19:19] betwo commented on #45
Thanks for the confirmation. Let's close this issue then and continue the discussion on issue #46 .

[2022-08-10 19:19] #45 closed

[2022-08-10 19:21] betwo commented on #46
Can we try to reproduce this in my setup?
Is there a minimal example you can share with me, or an open-source repository I can check out?

My first guess would be that this is a bug in `source`ing the workspace for the test execution, but so far I could not reproduce this.
Which shell are you using? And are there [errors in the debug output](https://github.com/betwo/vscode-catkin-tools/wiki/Debugg

[2022-08-11 07:01] phkehl commented on #46
I think I have the same problem (failed loading shared library). My setup is a docker container and vscode connected to that container. catkin_tools v4.3.1-prerelease. And using a .code-workspace file (File -> open workspace, not File -> open folder). Some observations:

- It detects the tests fine
- It appears that it compiles the tests correctly.
- In debug log there are only two messages:
[code

[2022-08-30 19:26] betwo commented on #46
Thank you for the detailed description and sorry again for the delay.

I failed to reproduce the issue after a lot of trials. Since I wanted to change the environment handling for the tests anyway, we might be lucky and this issue could be fixed "accidentally".

Could you please test pre-release 4.3.2 with your setup?
This includes a few fixes that might have been the cause here:
* In some cases,

[2022-08-31 15:24] phkehl commented on #46
Hi. Thanks again. Unfortunately, I still cannot get it to work. Sourcing or not sourcing the setup.bash in .bashrc doesn't change the behaviour. I'd rather not source it in bashrc, as I'd like to be able to use multiple workspaces in different terminals. I.e., I manually source the right one for each terminal.

I've now tried again (with sourcing in bashrc) and tried to see what processes are runn

[2022-08-31 17:41] betwo commented on #46
That makes sense, I also do not source any workspace in my shell setup scripts and that should not be required in general.

Before we start executing the test, we run `env` in the user's shell after `source`ing the workspace's `setup.<shell>`. The output is then parsed and used as the environment variables for the process. (otherwise we would use the environment in which `code` was started.)
The s

[2022-08-31 21:29] phkehl commented on #46
Ah, some progress..

LD_DEBUG=libs helps. It appears the way catkin_tools runs the test is differently from manually running the test in the shell (I use the command `catkin test some_package`).

Via catkin_tools test explorer run test it looks for libraries in ~/ros/**install** but there is (almost) nothing in my ~/ros/install. I guess that is because my default ros workspace has `Install Space L

[2022-09-03 09:13] betwo commented on #46
Ah, yes, it looks like there is some issue of the install handling with the combination of what the extension does and what your workspace is configured for.

That's kind of strange. The `install` space is only used if it exists.
So if you have not enabled `install: true` in the config (or via `catkin install`), then to folder should not exist at all.
Could you please check if the install space is

[2022-09-04 15:53] phkehl commented on #46
Hi, many thanks again. I think I have now something working here. Maybe my ROS workspace was all foobar. I've started a new one from scratch (removed all folders incl. .catkin_config) and things seem to work now.

I did `catkin init` and `catkin build my_package`. After that no install folder exists and `catkin config` says "Install Space Layout: None".

Then I run the tests via text explorer, whi

[2022-10-29 09:45] betwo commented on #46
Sorry, I totally lost track of this and had little time to continue the work.

Did you find a way to solve your open problems? And did anything relate to the extension rather than catkin/cmake setup?

I'd close the issue now and add the GUI help topic to the "backlog". Thank you for all the beta testing!
Please feel free to open up new issues :)

[2022-10-29 09:45] #46 closed

[2022-10-29 10:05] betwo commented on #42
The dependency is not there anymore. Thank you for triggering this

[2022-10-29 10:05] #42 closed

[2022-10-29 16:07] phkehl commented on #46
Yes, it's working now.
I'm still a bit puzzled by the complexity and occasional slowness of catkin and the builds, but that would be another issue in another repo... :-)
Many thanks again for your help!